@import "normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --pink: #db2777;
  --yellow: #fbbf24;
  --green: #34d399;
  --blue: #2563eb;
  --violet: #c4b5fd;
  --fuchsia: #f0abfc;
  --purple: #8b5cf6;
  --main-font: "Space Mono", monospace;
  --roboto-font: "Roboto", sans-serif;
  --league-spartan-font: "League Spartan", sans-serif;
  --red-hat-text-font: "Red Hat Text", sans-serif;
  --press-start-font: "Press Start 2P", cursive;
  --montserrat-font: "Montserrat", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-fade-move, /* apply transition to moving elements */
.list-fade-enter-active,
.list-fade-leave-active {
  transition: all 0.2s ease;
}

.list-fade-enter-from,
.list-fade-leave-to {
  opacity: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-fade-leave-active {
  position: absolute;
}
