<template>
  <div class="desktop-menu">
    <a href="#projects" class="pink-yellow-gradient"
      >&#60;projects&#8260;&#62;</a
    >
    <a href="#about-me" class="green-blue-gradient">&#60;about&#8260;&#62;</a>
    <a href="#contact" class="violet-blue-gradient">&#60;contact&#8260;&#62;</a>
    <a href="#links" class="fuchsia-purple-gradient">&#60;links&#8260;&#62;</a>
  </div>
</template>

<script>
export default {
  name: "DesktopMenu",
};
</script>

<style lang="scss" scoped>
.desktop-menu {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
  }

  > a {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: white;
    font-size: 18px;
    margin: 0 10px;
  }

  .pink-yellow-gradient {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, var(--pink), var(--yellow));
  }

  .green-blue-gradient {
    background-color: var(--green);
    background-image: linear-gradient(45deg, var(--green), var(--blue));
  }

  .violet-blue-gradient {
    background-color: var(--violet);
    background-image: linear-gradient(45deg, var(--violet), var(--blue));
  }

  .fuchsia-purple-gradient {
    background-color: var(--fuchsia);
    background-image: linear-gradient(45deg, var(--fuchsia), var(--purple));
  }
}
</style>
