<template>
  <nav>
    <NavbarElements v-model:display-menu="displayMenu" />
    <MenuContainer v-model:display-menu="displayMenu" />
  </nav>
</template>

<script>
import NavbarElements from "@/components/MyWebsite/Navbar/NavbarElements";
import MenuContainer from "@/components/MyWebsite/MenuContainer";
import { ref } from "vue";
export default {
  name: "NavbarContainer",
  components: { MenuContainer, NavbarElements },

  setup() {
    const displayMenu = ref(null);

    return {
      displayMenu,
    };
  },
};
</script>

<style lang="scss" scoped>
nav {
  padding: 10px 20px;
  background-color: var(--black);
}
</style>
