<template>
  <div class="wrapper">
    <MyLogo />
    <DesktopMenu class="menu-position" />
    <MenuIcon
      :display-menu="displayMenu"
      @update:display-menu="handleUpdateDisplayMenu"
      class="menu-position"
    />
  </div>
</template>

<script>
import MyLogo from "@/components/svg/MyLogo";
import MenuIcon from "@/components/MyWebsite/MenuIcon";
import DesktopMenu from "@/components/MyWebsite/Navbar/DesktopMenu";
export default {
  name: "NavbarElements",
  components: { DesktopMenu, MyLogo, MenuIcon },
  emits: ["update:display-menu"],
  props: {
    displayMenu: {
      required: true,
      type: [Boolean, null],
    },
  },
  setup(props, context) {
    const handleUpdateDisplayMenu = (event) => {
      context.emit("update:display-menu", event);
    };

    return {
      handleUpdateDisplayMenu,
    };
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (min-width: 1024px) {
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
  }
}

.menu-position {
  margin-left: auto;
}
</style>
