<script>
import ElementWrapper from "@/components/MyWebsite/ElementWrapper";
import ContactComponent from "@/components/MyWebsite/ContactComponent";
import AboutMeComponent from "@/components/MyWebsite/AboutMeComponent";
import HeroElement from "@/components/MyWebsite/HeroElement";
import ProjectsListComponent from "@/components/MyWebsite/ProjectsListComponent";
export default {
  name: "MainPage",
  components: {
    ProjectsListComponent,
    ElementWrapper,
    HeroElement,
    ContactComponent,
    AboutMeComponent,
  },

  setup() {
    const observer = new IntersectionObserver(
      (entries) => {
        entries
          .filter((entry) => entry)
          .map((entry) => {
            entry.target.classList.toggle(
              "animate__fadeIn",
              entry.isIntersecting
            );
            entry.target.classList.toggle(
              "animate__fadeOut",
              !entry.isIntersecting
            );
          });
      },
      {
        threshold: 0.1,
      }
    );
    const observeElement = (el) => {
      if (el) observer.observe(el.$el);
    };

    // const summaryCards = [
    //   {
    //     id: 1,
    //     title: "Scythe Studio Blog",
    //     shortText:
    //       "When I was working for Scythe Studio I was responsible for maintaining the company's blog. The technology that I picked up from this is Nuxt.js, SASS. I was working with WordPress also.",
    //     buttonText: "Visit Website",
    //     link: "https://scythe-studio.com/en/blog",
    //     inner: false,
    //   },
    //   {
    //     id: 2,
    //     title: "My Portfolio",
    //     shortText:
    //       "I designed everything myself when comes to my portfolio. It's created for mobile and desktop users. For this website I used Vue.js, Animated.css, Web3Forms and a little bit of HTML5 canvas.",
    //     buttonText: "Visit Website",
    //     link: "/",
    //     inner: true,
    //   },
    //   {
    //     id: 3,
    //     title: "MoviesLibrary",
    //     shortText:
    //       "I wanted to make this kind of app to show that I can work with API. I used The Movie database API. The design that I came up with is simple but effective. The app is created for mobile and desktop users. Technology that I used for this project is Vue.js and Tailwind.css.",
    //     buttonText: "Visit Website",
    //     link: "https://mmhalkiewicz.gitlab.io/movies-library/",
    //     inner: false,
    //   },
    //   {
    //     id: 4,
    //     title: "Calculator",
    //     shortText:
    //       "It's a smaller project just for fun. I used Vue.js and scss for styling. The app is created for mobile and desktop users.",
    //     buttonText: "Visit Website",
    //     link: "/my-projects/calculator",
    //     inner: true,
    //   },
    //   {
    //     id: 5,
    //     title: "Countdown Timer",
    //     shortText:
    //       "It's a small project that I wanted to recreate as a challenge from a website called Frontend Mentor. The app is created for mobile and desktop users.",
    //     buttonText: "Visit Website",
    //     link: "/my-projects/countdown-timer",
    //     inner: true,
    //   },
    //   {
    //     id: 6,
    //     title: "Splitter",
    //     shortText:
    //       "It's a small project that I wanted to recreate as a challenge from a website called Frontend Mentor.  The app is created for mobile and desktop users.",
    //     buttonText: "Visit Website",
    //     link: "/my-projects/splitter-project",
    //     inner: true,
    //   },
    //   {
    //     id: 7,
    //     title: "Pomodoro Timer",
    //     shortText:
    //       "It's a small project that I wanted to make since I use it all the time when I'm working.  The app is created for mobile and desktop users.",
    //     buttonText: "Visit Website",
    //     link: "/my-projects/pomodoro-timer",
    //     inner: true,
    //   },
    //   {
    //     id: 8,
    //     title: "HTML5 Canvas project",
    //     shortText:
    //       "I wanted to learn how to use canvas tag from HTML5. This small project is a showcase of what canvas tag can do. This app is written in Vue.js.",
    //     buttonText: "Visit Website",
    //     link: "/my-projects/canvas",
    //     inner: true,
    //   },
    // ];

    return {
      observeElement,
    };
  },
};
</script>

<template>
  <main>
    <ElementWrapper
      :ref="observeElement"
      class="placement wrapper animate__animated"
    >
      <HeroElement />
    </ElementWrapper>
    <ElementWrapper
      :ref="observeElement"
      class="placement wrapper animate__animated"
      id="projects"
    >
      <div class="element-wrapper pink-yellow-gradient">&#60;projects&#62;</div>
      <ProjectsListComponent />
      <div class="element-wrapper pink-yellow-gradient">
        &#60;&#8260;projects&#62;
      </div>
    </ElementWrapper>
    <ElementWrapper
      :ref="observeElement"
      class="placement wrapper animate__animated"
      id="about-me"
    >
      <div class="element-wrapper green-blue-gradient">&#60;about&#62;</div>
      <AboutMeComponent />
      <div class="element-wrapper green-blue-gradient">
        &#60;&#8260;about&#62;
      </div>
    </ElementWrapper>
    <ElementWrapper
      :ref="observeElement"
      class="placement wrapper contact-placement animate__animated"
      id="contact"
    >
      <div class="element-wrapper violet-blue-gradient">&#60;contact&#62;</div>
      <ContactComponent />
      <div class="element-wrapper violet-blue-gradient">
        &#60;&#8260;contact&#62;
      </div>
    </ElementWrapper>
  </main>
</template>

<style lang="scss" scoped>
main {
  padding: 70px 20px 0 20px;
  color: var(--white);
  background-color: var(--black);
  height: max-content;
  display: flex;
  flex-direction: column;

  .element-wrapper,
  .header {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .element-wrapper {
    padding-bottom: 30px;
    font-size: 20px;

    @media (min-width: 1024px) {
      padding-bottom: 50px;
    }
  }

  .pink-yellow-gradient {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, var(--pink), var(--yellow));
  }

  .green-blue-gradient {
    background-color: var(--green);
    background-image: linear-gradient(45deg, var(--green), var(--blue));
  }

  .violet-blue-gradient {
    background-color: var(--violet);
    background-image: linear-gradient(45deg, var(--violet), var(--blue));
  }

  .position {
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      margin-bottom: 100px;
    }
  }

  .placement {
    padding: 200px 0;
  }
}

.wrapper {
  min-height: 100vh;
}
</style>

<style>
html {
  scroll-behavior: smooth;
}
</style>
