<template>
  <main>
    <section>
      <div class="calculator-body">
        <div class="calculator-screen">
          {{ calculatorValue || 0 }}
        </div>
        <div class="calculator-buttons-wrapper">
          <div
            @click="action(calculatorElement)"
            v-for="calculatorElement in calculatorElements"
            :key="calculatorElement"
            class="calculator-button"
            :class="{
              'calculator-button-operator-color': [
                'C',
                '*',
                '/',
                '-',
                '%',
                '=',
                '+',
              ].includes(calculatorElement),
            }"
          >
            {{ calculatorElement }}
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { ref } from "vue";
export default {
  name: "CalculatorProject",
  setup() {
    const calculatorValue = ref("");
    const calculatorElements = [
      "C",
      "*",
      "/",
      "-",
      7,
      8,
      9,
      "+",
      4,
      5,
      6,
      "%",
      1,
      2,
      3,
      "=",
      0,
      ".",
    ];
    const operator = ref(null);
    const previousCalculatorValue = ref("");

    const action = (calculatorElement) => {
      if (!isNaN(calculatorElement) || calculatorElement === ".") {
        calculatorValue.value += calculatorElement + "";
      }

      if (calculatorElement === "C") {
        calculatorValue.value = "";
      }

      if (calculatorElement === "%") {
        calculatorValue.value = calculatorValue.value / 100 + "";
      }

      if (["/", "*", "-", "+"].includes(calculatorElement)) {
        operator.value = calculatorElement;
        previousCalculatorValue.value = calculatorValue.value;
        calculatorValue.value = "";
      }

      if (calculatorElement === "=") {
        calculatorValue.value = eval(
          previousCalculatorValue.value + operator.value + calculatorValue.value
        );
        previousCalculatorValue.value = "";
        operator.value = null;
      }
    };

    return {
      calculatorValue,
      calculatorElements,
      operator,
      previousCalculatorValue,
      action,
    };
  },
};
</script>

<style lang="scss" scoped>
main {
  height: 100vh;
  background-color: #272744;
  color: #fbf5ef;
  padding-top: 100px;

  section {
    display: flex;
    max-width: 450px;
    margin: 0 auto;
  }

  .calculator-body {
    background-color: #494d7e;
    padding: 20px;
    width: 100%;
    margin: 0 10px;
    .calculator-screen {
      background-color: #8b6d9c;
      margin-bottom: 30px;
      padding: 20px;
      text-align: right;
      font-size: 20px;
    }

    .calculator-buttons-wrapper {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(4, auto);
      gap: 6px;

      .calculator-button {
        padding: 20px;
        font-size: 20px;
        text-align: center;
        background-color: #c69fa5;
        opacity: 1;
        transition: opacity ease-out;

        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }

      .calculator-button-operator-color {
        background-color: #f2d3ab;
        color: #272744;
      }
    }
  }
}
</style>
