<script>
import { onMounted, onUnmounted, ref, reactive } from "vue";
export default {
  name: "CanvasProject",

  setup() {
    const canvas = ref(null);
    let ctx = null;
    const mouse = reactive({
      x: undefined,
      y: undefined,
    });
    const particleArray = reactive([]);
    const hue = ref(0);

    const getDimensions = () => {
      canvas.value.width = window.innerWidth;
      canvas.value.height = window.innerHeight;
    };

    const makeClickEvent = (event) => {
      mouse.x = event.x;
      mouse.y = event.y;
      for (let i = 0; i < 10; i++) {
        particleArray.push(new Particle());
      }
    };

    const makeMouseMoveEvent = (event) => {
      mouse.x = event.x;
      mouse.y = event.y;
      for (let i = 0; i < 20; i++) {
        particleArray.push(new Particle());
      }
    };

    class Particle {
      constructor() {
        this.x = mouse.x;
        this.y = mouse.y;
        // this.x = Math.random() * canvas.value.width;
        // this.y = Math.random() * canvas.value.height;/
        this.size = Math.random() * 6 + 1;
        this.speedX = Math.random() * 3 - 1.5;
        this.speedY = Math.random() * 3 - 1.5;
        this.color = "hsl(" + hue.value + " , 100%, 50% )";
      }
      update() {
        this.x += this.speedX;
        this.y += this.speedY;
        if (this.size > 0.2) this.size -= 0.1;
      }
      draw() {
        ctx.fillStyle = this.color;
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2);
        ctx.fill();
      }
    }

    const handleParticles = () => {
      for (let i = 0; i < particleArray.length; i++) {
        particleArray[i].update();
        particleArray[i].draw();
        if (particleArray[i].size <= 0.3) {
          particleArray.splice(i, 1);
          i--;
        }
      }
    };

    const animate = () => {
      ctx.clearRect(0, 0, canvas.value.width, canvas.value.height);
      // ctx.fillStyle = "rgba(0,0,0,0.1)";
      // ctx.fillRect(0, 0, canvas.value.width, canvas.value.height);
      handleParticles();
      hue.value += 2;
      requestAnimationFrame(animate);
    };

    onMounted(() => {
      ctx = canvas.value.getContext("2d");
      getDimensions();
      animate();
      window.addEventListener("resize", getDimensions);
      window.addEventListener("click", makeClickEvent);
      window.addEventListener("mousemove", makeMouseMoveEvent);
    });

    onUnmounted(() => {
      window.removeEventListener("resize", getDimensions);
      window.removeEventListener("click", makeClickEvent);
      window.removeEventListener("mousemove", makeMouseMoveEvent);
    });

    return {
      canvas,
    };
  },
};
</script>

<template>
  <main>
    <canvas ref="canvas"></canvas>
  </main>
</template>

<style scoped>
canvas {
  position: absolute;
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: 100%;
}
</style>
