<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faFacebookSquare,
  faInstagram,
  faPinterest,
} from "@fortawesome/free-brands-svg-icons";
library.add(faFacebookSquare, faInstagram, faPinterest);

import { ref, computed, onMounted } from "vue";
export default {
  name: "CountDownTimer",

  setup() {
    const displayDays = ref(0);
    const displayHours = ref(0);
    const displayMinutes = ref(0);
    const displaySeconds = ref(0);

    const _seconds = computed(() => {
      return 1000;
    });

    const _minutes = computed(() => {
      return _seconds.value * 60;
    });

    const _hours = computed(() => {
      return _minutes.value * 60;
    });
    const _days = computed(() => {
      return _hours.value * 24;
    });

    const showRemaining = () => {
      const timer = setInterval(() => {
        const now = new Date();
        const end = new Date(2023, 7, 22, 10, 20, 20);
        const distance = end.getTime() - now.getTime();

        if (distance < 0) {
          clearInterval(timer);
          return;
        }

        const days = Math.floor(distance / _days.value);
        const hours = Math.floor(distance / _days.value / _hours.value);
        const minutes = Math.floor((distance % _hours.value) / _minutes.value);
        const seconds = Math.floor(
          (distance % _minutes.value) / _seconds.value
        );
        displayMinutes.value = minutes < 10 ? "0" + minutes : minutes;
        displaySeconds.value = seconds < 10 ? "0" + seconds : seconds;
        displayHours.value = hours < 10 ? "0" + hours : hours;
        displayDays.value = days < 10 ? "0" + days : days;
      }, 1000);
    };

    onMounted(() => {
      return showRemaining();
    });

    return {
      displayDays,
      displayHours,
      displayMinutes,
      displaySeconds,
    };
  },
};
</script>

<template>
  <main>
    <section>
      <div class="launching-card">
        <h1 class="title">WE'RE LAUNCHING SOON</h1>
        <div class="countdown-wrapper">
          <div class="countdown-element">
            <div class="countdown-timer">
              <span class="countdown-number">{{ displayDays }}</span>
            </div>
            <span class="countdown-text">DAYS</span>
          </div>
          <div class="countdown-element">
            <div class="countdown-timer">
              <span class="countdown-number">{{ displayHours }}</span>
            </div>
            <span class="countdown-text">HOURS</span>
          </div>
          <div class="countdown-element">
            <div class="countdown-timer">
              <span class="countdown-number">{{ displayMinutes }}</span>
            </div>
            <span class="countdown-text">MINUTES</span>
          </div>
          <div class="countdown-element">
            <div class="countdown-timer">
              <span class="countdown-number">{{ displaySeconds }}</span>
            </div>
            <span class="countdown-text">SECONDS</span>
          </div>
        </div>
      </div>
      <div class="image-bottom">
        <div class="icons-wrapper">
          <div>
            <font-awesome-icon class="icon" icon="fab fa-facebook-square" />
          </div>
          <div>
            <font-awesome-icon class="icon" icon="fab fa-instagram" />
          </div>
          <div>
            <font-awesome-icon class="icon" icon="fab fa-pinterest" />
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<style lang="scss" scoped>
main {
  height: 100vh;
  background-color: hsl(234, 17%, 12%);
  background-image: url("@/assets/CountdownTimer/bg-stars.svg");
  font-family: var(--red-hat-text-font);
  position: relative;

  section {
    display: flex;
    flex-direction: column;
  }

  .launching-card {
    margin: 200px 30px 0 30px;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title {
      font-size: 20px;
      color: hsl(0, 0%, 100%);
      margin-bottom: 100px;
      letter-spacing: 3px;
      word-spacing: 3px;

      @media (min-width: 1024px) {
        margin-bottom: 140px;
      }
    }

    .countdown-wrapper {
      display: flex;
      gap: 5px;
      justify-content: center;
      margin: 0 auto 30px auto;
      max-width: 700px;

      .countdown-element {
        margin: 0 auto;
      }

      .countdown-timer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 80px;
        margin-bottom: 10px;
        background-color: hsl(236, 21%, 26%);

        .countdown-number {
          color: hsl(345, 95%, 68%);
          font-size: 32px;
        }
      }
      .countdown-text {
        font-size: 14px;
        text-align: center;
        color: hsl(237, 18%, 59%);
        letter-spacing: 1px;
      }
    }
  }

  .image-bottom {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-image: url("@/assets/CountdownTimer/pattern-hills.svg");
  }

  .icons-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 70px auto 0 auto;
    max-width: 400px;

    .icon {
      color: hsl(237, 18%, 59%);
      font-size: 32px;
    }

    .icon:hover {
      cursor: pointer;
      color: hsl(345, 95%, 68%);
    }
  }
}
</style>
