<template>
  <main>
    <div class="element-purple">
      <div class="card-wrapper">
        <div class="card-back">
          <br />
          <div class="card-back-strip-black">
            <br />
          </div>
          <div class="card-back-cvc">
            <span class="cvc">{{ inputs[2].value || "000" }}</span>
          </div>
        </div>
        <div class="card-front">
          <div class="card-circles">
            <div class="circle-big">
              <br />
            </div>
            <div class="circle-small">
              <br />
            </div>
          </div>
          <div class="card-number">
            <span>0</span><span>0</span><span>0</span><span>0</span
            ><span>0</span><span>0</span><span>0</span><span>0</span
            ><span>0</span><span>0</span><span>0</span><span>0</span
            ><span>0</span><span>0</span><span>0</span><span>0</span>
          </div>
          <div class="card-name-date-wrapper">
            <div>{{ inputs[0].value || "Name Surname" }}</div>
            <div class="card-date">
              <span>{{ inputs[3].value || "month" }}</span>
              <span>/</span>
              <span>{{ inputs[4].value || "year" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="element-white">
      <div class="input-wrapper" v-for="input in inputs" :key="input.label">
        <label class="input-label">{{ input.label }}</label>
        <input
          class="input"
          :type="input.type"
          :placeholder="input.placeholder"
          v-model="input.value"
          :maxlength="input.maxlength"
          :min="input.min"
          :max="input.max"
        />
      </div>
      <button>Confirm</button>
    </div>
  </main>
</template>

<script>
export default {
  name: "CreditCardProject",
  data() {
    return {
      inputs: [
        {
          label: "cardholder name",
          placeholder: "e.g. John Doe",
          type: "text",
          value: "",
        },
        {
          label: "card number",
          placeholder: "e.g. 1234 5678 9123 0000",
          type: "number",
          value: "",
        },
        {
          label: "cvc",
          placeholder: "e.g.123",
          type: "string",
          maxlength: "3",
          value: "",
        },
        {
          label: "exp. date - MM",
          placeholder: "MM",
          type: "number",
          value: "",
          min: 1,
          max: 12,
        },
        {
          label: "exp. date - YY",
          placeholder: "YY",
          type: "number",
          value: "",
          min: 2022,
          max: 2122,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
main {
  height: 100vh;
  color: black;
  font-family: "Roboto Mono";

  .element-purple {
    background-color: #21082f;
    height: 200px;
    position: relative;
  }

  .card-wrapper {
    padding-top: 40px;
    width: 100%;
    position: absolute;

    .card-back {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #d2d3d8;
      margin: 0 20px;
      height: 200px;
      border-radius: 10px;
      max-width: 360px;

      .card-back-strip-black {
        margin: 20px 0 18px 0;
        background-color: #2a1f30;
        height: 40px;
      }

      .card-back-cvc {
        margin: 0 auto;
        width: 80%;
        padding: 5px 20px;
        border-radius: 5px;
        background-color: #acb6bf;
        color: white;
        text-align: right;
      }
    }

    .card-front {
      width: 330px;
      position: absolute;
      top: auto;
      margin: 0 20px;
      padding: 20px;
      height: 200px;
      border-radius: 10px;
      color: white;
      background: linear-gradient(323deg, #6144f9, #b551c4, #6577d8, #cf6883);
      background-size: 800% 800%;
      -webkit-animation: FrontCardAnimation 20s ease infinite;
      -moz-animation: FrontCardAnimation 20s ease infinite;
      animation: FrontCardAnimation 20s ease infinite;

      @-webkit-keyframes FrontCardAnimation {
        0% {
          background-position: 1% 0%;
        }
        50% {
          background-position: 99% 100%;
        }
        100% {
          background-position: 1% 0%;
        }
      }
      @-moz-keyframes FrontCardAnimation {
        0% {
          background-position: 1% 0%;
        }
        50% {
          background-position: 99% 100%;
        }
        100% {
          background-position: 1% 0%;
        }
      }
      @keyframes FrontCardAnimation {
        0% {
          background-position: 1% 0%;
        }
        50% {
          background-position: 99% 100%;
        }
        100% {
          background-position: 1% 0%;
        }
      }

      .card-circles {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .circle-big {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: white;
        }

        .circle-small {
          margin-left: 15px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid white;
        }
      }

      .card-number {
        font-size: 23px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 20px;
      }

      .card-name-date-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .card-date {
          margin-left: auto;
        }
      }
    }
  }
  .element-white {
    padding-top: 280px;
    margin: 0 20px;

    .input-wrapper {
      display: flex;
      flex-direction: column;

      .input-label {
        color: #220930;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        margin-bottom: 5px;
      }

      .input {
        margin-bottom: 18px;
        padding: 10px 18px;
        border: 2px solid #e5e5e5;
        border-radius: 5px;
        color: #6b7280;
      }
    }

    button {
      width: 100%;
      padding: 20px;
      margin-bottom: 50px;
      background-color: #220930;
      color: white;
      border-radius: 5px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}
</style>
