<template>
  <main>
    <section class="top-part">
      <div class="top-left-part">{{ $t("name") }}</div>
      <div class="top-right-part">{{ $t("about_me") }}</div>
    </section>
    <section class="bottom-part">
      <div class="bottom-left-part">
        <div class="element">
          <div class="list">{{ $t("contact") }}</div>
          <div>Gitlab: {{ $t("gitlab") }}</div>
          <div>Instagram: {{ $t("instagram") }}</div>
        </div>
        <div class="element">
          <h3 class="element-title">{{ $t("skills_title") }}</h3>
          <div class="list">{{ $t("skills") }}</div>
        </div>
        <div class="element">
          <h3 class="element-title">{{ $t("languages_title") }}</h3>
          <div class="list">
            {{ $t("languages") }}
          </div>
        </div>
      </div>
      <div class="bottom-right">
        <h3 class="element-title">{{ $t("work_title") }}</h3>
        <div class="work-infos">
          <div class="title">
            {{ $t("work_experience.scythe_studio_worker.title") }}
          </div>
          <div class="company">
            {{ $t("work_experience.scythe_studio_worker.name") }}
          </div>
          <div class="timeline">
            {{ $t("work_experience.scythe_studio_worker.timeline") }}
          </div>
          <div class="list work">
            {{ $t("work_experience.scythe_studio_worker.tasks") }}
          </div>
        </div>
        <div class="work-infos">
          <div class="title">
            {{ $t("work_experience.scythe_studio_intern.title") }}
          </div>
          <div class="company">
            {{ $t("work_experience.scythe_studio_intern.name") }}
          </div>
          <div class="timeline">
            {{ $t("work_experience.scythe_studio_intern.timeline") }}
          </div>
          <div class="list work">
            {{ $t("work_experience.scythe_studio_intern.tasks") }}
          </div>
        </div>
        <div class="work-infos">
          <div class="title">{{ $t("work_experience.luxmed.title") }}</div>
          <div class="company">{{ $t("work_experience.luxmed.name") }}</div>
          <div class="timeline">
            {{ $t("work_experience.luxmed.timeline") }}
          </div>
          <div class="list work">{{ $t("work_experience.luxmed.tasks") }}</div>
        </div>
        <div class="work-infos">
          <div class="title">{{ $t("work_experience.axa.title") }}</div>
          <div class="company">{{ $t("work_experience.axa.name") }}</div>
          <div class="timeline">{{ $t("work_experience.axa.timeline") }}</div>
          <div class="list work">{{ $t("work_experience.axa.tasks") }}</div>
        </div>
        <div class="work-infos">
          <div class="title">{{ $t("work_experience.wawa_taxi.title") }}</div>
          <div class="company">{{ $t("work_experience.wawa_taxi.name") }}</div>
          <div class="timeline">
            {{ $t("work_experience.wawa_taxi.timeline") }}
          </div>
          <div class="list work">
            {{ $t("work_experience.wawa_taxi.tasks") }}
          </div>
        </div>
        <div class="work-infos">
          <div class="title">{{ $t("work_experience.zabka.title") }}</div>
          <div class="company">{{ $t("work_experience.zabka.name") }}</div>
          <div class="timeline">{{ $t("work_experience.zabka.timeline") }}</div>
          <div class="list work">{{ $t("work_experience.zabka.tasks") }}</div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: "CV",
};
</script>

<style lang="scss" scoped>
main {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .top-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .top-left-part {
      background-color: #343434;
      color: #ffffff;
      display: flex;
      align-items: center;
      padding: 50px;
      font-size: 24px;

      img {
        height: 100%;
      }
    }

    .top-right-part {
      padding: 30px;
      font-size: 14px;
      background-color: #dbdbdb;
      color: #343434;
    }
  }

  .bottom-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .bottom-left-part {
      background-color: #f6f6f6;
      color: #343434;
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    .bottom-right {
      padding: 30px;
    }

    .element,
    .work-infos {
      margin-bottom: 30px;
    }

    .title {
      font-size: 24px;
      margin-bottom: 5px;
    }
    .company {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .timeline {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .element-title {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bolder;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        height: 3px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 100%;
        width: 50%;
        background: #000000;
      }
    }
  }

  .list {
    white-space: break-spaces;
    line-height: 28px;
  }
}
</style>
