<script>
import { ref, computed } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faCog } from "@fortawesome/free-solid-svg-icons";
library.add(faCog);

export default {
  name: "PomodoroTimer",
  setup() {
    const timerDuration = ref(25 * 60);
    const mode = ref("pomodoro");

    const colorClass = computed(() => {
      switch (mode.value) {
        case "pomodoro":
          return "pomodoro--red";
        case "shortBreak":
          return "pomodoro--teal";
        case "longBreak":
          return "pomodoro--blue";
      }
      return "";
    });

    const timer = ref(null);

    const minutes = computed(() => {
      const min = Math.floor(timerDuration.value / 60);
      if (min > 10) {
        return min;
      } else {
        return "0" + min;
      }
    });

    const seconds = computed(() => {
      const sec = timerDuration.value - minutes.value * 60;
      if (sec >= 10) {
        return sec;
      } else {
        return "0" + sec;
      }
    });

    const shortBreakButtonClicked = () => {
      mode.value = "shortBreak";
      timerDuration.value = 5 * 60;
      handlePauseButton();
    };
    const longBreakButtonClicked = () => {
      mode.value = "longBreak";
      timerDuration.value = 15 * 60;
      handlePauseButton();
    };
    const pomodoroButtonClicked = () => {
      mode.value = "pomodoro";
      timerDuration.value = 25 * 60;
      handlePauseButton();
    };

    const handleStartButton = () => {
      if (timer.value === null) {
        timer.value = setInterval(() => decreaseTimer(), 1000);
      }
    };

    const decreaseTimer = () => {
      if (timerDuration.value >= 1) {
        timerDuration.value--;
      } else {
        timerDuration.value = 0;
        handlePauseButton();
      }
    };

    const handlePauseButton = () => {
      clearInterval(timer.value);
      timer.value = null;
    };

    return {
      timerDuration,
      minutes,
      seconds,
      colorClass,
      mode,
      shortBreakButtonClicked,
      longBreakButtonClicked,
      pomodoroButtonClicked,
      handleStartButton,
      handlePauseButton,
    };
  },
};
</script>

<template>
  <main :class="colorClass">
    <section>
      <div class="pomodoro-title-wrapper">
        <div class="title">Pomodoro Timer</div>
        <div class="settings-button-container">
          <button class="settings-button">
            Setting <font-awesome-icon icon="fas fa-cog" />
          </button>
        </div>
      </div>
      <div class="pomodoro_timer-container">
        <div class="upper-buttons-container">
          <button
            class="upper-button"
            :class="mode === 'pomodoro' ? 'active' : ''"
            @click="pomodoroButtonClicked"
          >
            Pomodoro
          </button>
          <button
            class="upper-button"
            :class="mode === 'shortBreak' ? 'active' : ''"
            @click="shortBreakButtonClicked"
          >
            Short Break
          </button>
          <button
            class="upper-button"
            :class="mode === 'longBreak' ? 'active' : ''"
            @click="longBreakButtonClicked"
          >
            Long Break
          </button>
        </div>
        <div class="timer">{{ minutes }} : {{ seconds }}</div>
        <div class="lower-buttons-container">
          <button class="lower-button" @click="handleStartButton">
            <span class="lower-button-front">Start</span>
          </button>
          <button class="lower-button" @click="handlePauseButton">
            <span class="lower-button-front">Pause</span>
          </button>
        </div>
      </div>
    </section>
  </main>
</template>

<style lang="scss" scoped>
* {
  color: white;
}
main {
  height: 100vh;
  font-family: var(--red-hat-text-font);
  background-color: var(--primary);

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    .pomodoro-title-wrapper {
      display: flex;
      margin-top: 30px;
      align-items: center;
      margin-bottom: 30px;
      max-width: 500px;
      width: 100%;

      .settings-button-container {
        margin-left: auto;
      }
    }

    .pomodoro_timer-container {
      width: 100%;
      background-color: hsla(0, 0%, 97%, 0.25);
      backdrop-filter: blur(10px);
      padding: 20px;
      border-radius: 12px;
      max-width: 500px;

      .upper-buttons-container {
        display: flex;
        justify-content: space-evenly;

        .upper-button {
          padding: 2px 10px;
          border-radius: 12px;

          &.active {
            background-color: var(--primary-dark);
          }
        }
      }

      .timer {
        display: flex;
        justify-content: center;
        font-size: 80px;
        margin-bottom: 20px;
      }

      .lower-buttons-container {
        display: flex;

        .lower-button {
          margin: 0 auto;
          cursor: pointer;
          border-radius: 12px;
          border: none;
          padding: 0;
          outline-offset: 4px;
          background: var(--primary-dark);

          .lower-button-front {
            display: block;
            padding: 10px 30px;
            border-radius: 12px;
            background-color: white;
            transform: translateY(-6px);
            color: var(--primary-dark);
          }
        }

        .lower-button:active .lower-button-front {
          transform: translateY(-2px);
        }
      }
    }
  }
}

.pomodoro--teal {
  --primary-dark: rgb(58, 119, 122);
  --primary: rgb(76, 145, 149);
}
.pomodoro--red {
  --primary-dark: rgb(191, 70, 65);
  --primary: rgb(217, 85, 80);
}
.pomodoro--blue {
  --primary-dark: rgb(50, 95, 128);
  --primary: rgb(69, 124, 163);
}
</style>
