<template>
  <main>
    <div class="splitter-title">
      <p>spli</p>
      <p>tter</p>
    </div>
    <div class="splitter-component">
      <div>
        <div>
          <label class="splitter-label">Bill</label>
          <div class="splitter-input-wrapper">
            <DollarIcon class="splitter-icon" />
            <input
              v-model="billCost"
              min="0"
              type="number"
              class="splitter-input"
            />
          </div>
        </div>
        <div>
          <p class="splitter-buttons-label">Select Tip %</p>
          <div class="splitter-tip-button-container">
            <div
              @click="buttonClicked(button.value)"
              class="splitter-button-wrapper"
              v-for="button in buttons"
              :key="button.value"
            >
              <button class="splitter-tip-button">{{ button.text }}</button>
            </div>
          </div>
        </div>
        <div>
          <label class="splitter-label">Number of People</label>
          <div class="splitter-input-wrapper">
            <UserIcon class="splitter-icon" />
            <input
              v-model="peopleAmount"
              min="1"
              type="number"
              class="splitter-input"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="splitter-calc-container">
          <div class="calc-info-wrapper">
            <div class="info-container">
              <span>Tip Amount</span>
              <span class="info-text">/ person</span>
            </div>
            <div class="total-container">${{ tipAmount || "0.00" }}</div>
          </div>
          <div class="calc-info-wrapper">
            <div class="info-container">
              <span>Total</span>
              <span class="info-text">/ person</span>
            </div>
            <div class="total-container">${{ totalCost || "0.00" }}</div>
          </div>
          <button @click="calcTipAndTotal" class="calc-button">
            Calculate
          </button>
          <button @click="resetCalc" class="reset-button">Reset</button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import DollarIcon from "@/components/svg/DollarIcon";
import UserIcon from "@/components/svg/UserIcon";

export default {
  name: "SplitterProject",
  components: {
    UserIcon,
    DollarIcon,
  },
  data() {
    return {
      billCost: "",
      peopleAmount: "",
      tipAmount: "",
      totalCost: "",
      selectedTip: 0,
      buttons: [
        {
          value: 5,
          text: "5%",
        },
        {
          value: 10,
          text: "10%",
        },
        {
          value: 15,
          text: "15%",
        },
        {
          value: 25,
          text: "25%",
        },
        {
          value: 50,
          text: "50%",
        },
      ],
    };
  },
  methods: {
    buttonClicked(value) {
      this.selectedTip = value;
    },
    calcTipAndTotal() {
      const tipAmount =
        (this.billCost * (this.selectedTip / 100)) / this.peopleAmount;
      this.tipAmount = tipAmount.toFixed(2);
      this.totalCost = this.billCost / this.peopleAmount + tipAmount;
    },
    resetCalc() {
      this.billCost = 0;
      this.peopleAmount = 1;
      console.log("efef");
    },
  },
};
</script>

<style lang="scss" scoped>
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5e4e7;
  height: 100vh;

  .splitter-title {
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #395d5e;
    font-weight: 800;
  }

  .splitter-component {
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 30px 20px 0 20px;
    background-color: white;
    max-width: 400px;

    @media (min-width: 700px) {
      display: flex;
      gap: 30px;
      max-width: 700px;
      align-items: center;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    .splitter-buttons-label {
      margin-bottom: 20px;
    }

    .splitter-label,
    .splitter-buttons-label {
      font-weight: 700;
      letter-spacing: 1px;
      color: #516b6c;
    }

    .splitter-input-wrapper {
      position: relative;
      margin: 10px 0 20px;

      .splitter-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) translateX(-50%);
      }

      .splitter-input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #f3f8fb;
        color: #00474b;
        font-size: 22px;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .splitter-tip-button-container {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto;
      gap: 10px 10px;
      margin-bottom: 30px;

      .splitter-button-wrapper:last-child {
        grid-area: 3/1/3/3;
      }

      .splitter-tip-button {
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: 800;
        background-color: #00474b;

        &:focus {
          color: #004044;
          background-color: #26c2ad;
        }
      }
    }

    .splitter-calc-container {
      width: 100%;
      padding: 30px 20px;
      border-radius: 10px;
      background-color: #00474b;
      margin-bottom: 30px;

      .calc-info-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .info-container {
          display: flex;
          flex-direction: column;
          color: #fefefe;
        }

        .info-text {
          font-size: 14px;
        }

        .total-container {
          margin-left: auto;
          color: #20c1a9;
          font-size: 30px;
        }
      }

      .reset-button,
      .calc-button {
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 800;
        background-color: #26c2ad;
        color: #00474b;
      }

      .calc-button {
        margin-bottom: 20px;

        @media (min-width: 700px) {
          margin-top: 60px;
        }
      }
    }
  }
}
</style>
