<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faCaretRight, faDownload } from "@fortawesome/free-solid-svg-icons";
library.add(faCaretRight, faDownload);
export default {
  name: "AboutMeComponent",
};
</script>

<template>
  <div class="about-me-wrapper">
    <p class="about-me-text">
      Hello! My name is Maria and I enjoy creating things that many people will
      see and be inspired to creat as well. I always was interested in creating
      stuff. But it was a long journey before I started to learn programming.
    </p>
    <p class="about-me-text">
      In 2016 I met a person that changed my life and opened my eyes to the tech
      world. In 2018 He said that I should start to learn a programming
      language. He suggested C++. Unfortunately, the timing was off and I
      struggle to learn this language. So I quit.
    </p>
    <p class="about-me-text">
      Fast Forward to 2020 the pandemic started I was unhappy with my job. I was
      determined to quit and started to learn to program again. This time I
      choose HTML, CSS, and JavaScript. I was hooked from the start. The feeling
      of creating websites and seeing my results fill my heart with joy.
    </p>
    <p class="about-me-text">
      In 2022 I was blessed with an opportunity to start working for a company
      called Scythe Studio. I am so grateful for that experience. I learn a lot
      there.
    </p>
    <p class="about-me-text">
      Now is the end of 2022 and I am busier than ever. I started to make more
      projects for the web. I helped to create an app for financial purposes. I
      even made an Instagram account because I started to do pixel art. Maybe in
      the future, I will make a game with my own art, who knows :)
    </p>
    <p class="about-me-text">I'm familiar with those programs:</p>
    <ul class="tech-list">
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Krita
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Canva
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Figma
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Aseprite
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Procreate
      </li>
    </ul>
    <p class="about-me-text">Here are technologies that I worked with:</p>
    <ul class="tech-list">
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        JavaScript (ES6)
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        jQuery
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Vue.js
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Nuxt.js
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Vue Router
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Tailwind
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Bootstrap
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        HTML, CSS, SCSS
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        little bit of WordPress
      </li>
    </ul>
    <p class="about-me-text">Languages that I know:</p>
    <ul class="tech-list">
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Polish (native language)
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        Japanese (N5 - still learing)
      </li>
      <li>
        <span class="icon"
          ><font-awesome-icon icon="fas fa-caret-right"
        /></span>
        English (B2/C1)
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
.about-me-wrapper {
  font-size: 14px;

  @media (min-width: 768px) {
    max-width: 750px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }

  .about-me-text {
    margin-bottom: 10px;

    @media (min-width: 1024px) {
      margin-bottom: 30px;
      line-height: 28px;
    }
  }

  .tech-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px 0;
    margin-bottom: 30px;

    @media (min-width: 1024px) {
      gap: 10px 0;
    }
  }

  .icon {
    color: var(--green);
  }
}
</style>
