<script>
import { ref } from "vue";
import axios from "axios";
export default {
  name: "ContactComponent",
  components: {},

  setup() {
    const userName = ref("");
    const userEmail = ref("");
    const userMessage = ref("");
    const WEB3FORMS_ACCESS_KEY = "c6c3f49c-d040-4720-afdd-c87b68cf93c3";
    const formState = ref("editing");

    const handleContactForm = async (e) => {
      e.preventDefault();
      formState.value = "loading";

      try {
        await axios.post("https://api.web3forms.com/submit", {
          access_key: WEB3FORMS_ACCESS_KEY,
          name: userName.value,
          email: userEmail.value,
          message: userMessage.value,
        });

        formState.value = "success";
      } catch (e) {
        formState.value = "failure";
      }
    };

    return {
      userName,
      userEmail,
      userMessage,
      handleContactForm,
      formState,
    };
  },
};
</script>

<template>
  <header v-if="formState === 'editing'" class="header-contact">
    <h3 class="header violet-blue-gradient">Send me a message!</h3>
    <p class="header-small-text">
      Got a question or proposal, or simply you want to say hello? Go ahead.
    </p>
  </header>
  <form
    v-if="formState === 'editing'"
    class="contact-form"
    @submit="handleContactForm"
  >
    <input
      v-model="userName"
      class="form-input"
      type="text"
      name="name"
      placeholder="Enter your name"
      required
    />
    <input
      v-model="userEmail"
      class="form-input"
      type="email"
      name="email"
      placeholder="Enter your email"
      required
    />
    <textarea
      v-model="userMessage"
      class="form-input text-area"
      type="text"
      name="message"
      placeholder="Enter your message"
      required
    />
    <input
      type="checkbox"
      name="botcheck"
      class="hidden"
      style="display: none"
    />
    <button type="submit" class="form-button">SEND</button>
  </form>
  <div v-if="formState === 'loading'" class="loading">
    <div class="dotcolor"></div>
    <div class="dotcolor"></div>
    <div class="dotcolor"></div>
  </div>
  <div v-if="formState === 'success'" class="message-container">
    <h3 class="message-title">Thank you so much for the message!</h3>
    <p class="message-text">I will try to answer as soon as possible.</p>
  </div>
  <div v-if="formState === 'failure'" class="message-container">
    <h3 class="message-title">UPS!</h3>
    <p class="message-text">Something went wrong. Please try it again.</p>
  </div>
</template>

<style lang="scss" scoped>
.header-contact {
  margin-bottom: 30px;

  .header {
    font-size: 28px;
    margin-bottom: 10px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-color: var(--violet);
    background-image: linear-gradient(45deg, var(--violet), var(--blue));

    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }

  .header-small-text,
  .message-text {
    font-size: 14px;
    line-height: 25px;

    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-input {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #19191a;
    color: var(--white);

    &::placeholder {
      color: var(--white);
    }
  }

  .text-area {
    height: 150px;
    outline: none;
  }

  .form-button {
    width: 100%;
    height: 50px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: var(--white);
    z-index: 1;
    margin-bottom: 30px;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, var(--violet), var(--blue));
    border-image-slice: 1;

    @media (min-width: 1024px) {
      margin-bottom: 50px;
    }

    &:hover {
      color: var(--black);
    }

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: var(--purple);
      background-image: linear-gradient(45deg, var(--violet), var(--blue));
      transition: all 0.3s ease;
    }

    &:hover:after {
      left: 0;
      width: 100%;
    }
  }
}

.loading {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;

  @media (min-width: 768px) {
    max-width: 700px;
    height: 500px;
  }

  .dotcolor {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    animation: colors 1.3s ease-in-out infinite;
  }

  @keyframes colors {
    0%,
    100% {
      background-color: var(--blue);
      transform: initial;
    }

    50% {
      transform: translateY(-20px);
      background-color: var(--violet);
    }
  }

  .dotcolor:nth-child(2) {
    animation-delay: -1.1s;
  }

  .dotcolor:nth-child(3) {
    animation-delay: -0.9s;
  }
}

.message-container {
  margin-bottom: 30px;

  .message-title {
    font-size: 28px;
    margin-bottom: 10px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-color: var(--violet);
    background-image: linear-gradient(45deg, var(--violet), var(--blue));

    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }
  .message-text {
    font-size: 14px;
    line-height: 25px;

    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
}
</style>
