<template>
  <section>
    <slot />
  </section>
</template>

<script>
export default {
  name: "ElementWrapper",
};
</script>

<style lang="scss" scoped>
section {
  max-width: 600px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 750px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
}
</style>
