<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faRedditAlien,
  faInstagram,
  faCodepen,
  faLinkedinIn,
} from "@fortawesome/free-brands-svg-icons";
library.add(faRedditAlien, faInstagram, faCodepen, faLinkedinIn);
export default {
  name: "FooterComponent",
};
</script>

<template>
  <footer class="footer">
    <ul class="footer-list">
      <li class="footer-list-element instagram">
        <a
          class="footer-link"
          href="https://www.instagram.com/_mary.px_/"
          target="_blank"
        >
          <font-awesome-icon
            class="footer-icon"
            icon="fa-brands fa-instagram"
          />
        </a>
      </li>
      <li class="footer-list-element codepen">
        <a
          class="footer-link"
          href="https://codepen.io/mary_px"
          target="_blank"
        >
          <font-awesome-icon class="footer-icon" icon="fab fa-codepen" />
        </a>
      </li>
      <li class="footer-list-element reddit">
        <a
          class="footer-link"
          href="https://www.reddit.com/user/_pink_vaporeon"
          target="_blank"
        >
          <font-awesome-icon
            class="footer-icon"
            icon="fa-brands fa-reddit-alien"
          />
        </a>
      </li>
      <li class="footer-list-element linkedIn">
        <a
          class="footer-link"
          href="https://www.linkedin.com/in/maria-halkiewicz-31b109230/"
          target="_blank"
        >
          <font-awesome-icon
            class="footer-icon"
            icon="fa-brands fa-linkedin-in"
          />
        </a>
      </li>
    </ul>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  background-color: var(--black);
  padding: 20px;

  @media (min-width: 1024px) {
    .footer {
      padding: 20px 0 40px 0;
    }
  }

  .footer-list {
    display: flex;
    justify-content: center;
    max-width: 700px;
    @media (min-width: 375px) {
      margin: 0 auto;
    }

    a {
      text-decoration: none;
      color: var(--white);
      transition: 300ms ease-in-out;
      font-size: 20px;

      @media (min-width: 1024px) {
        font-size: 28px;
      }

      &:hover {
        scale: 1.2;
      }
    }

    .footer-list-element {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
    }
  }
}
</style>
