<script>
import { onMounted, ref } from "vue";
export default {
  name: "HeroElement",

  setup() {
    const canvas = ref(null);
    const ctx = ref(null);
    const colors = ["#db2777", "#fbbf24"];

    function Circle(x, y, dx, dy, radius, color) {
      this.x = x;
      this.y = y;
      this.dx = dx;
      this.dy = dy;
      this.radius = radius;
      this.color = color;

      this.draw = () => {
        ctx.value.beginPath();
        ctx.value.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
        ctx.value.strokeStyle = color;
        ctx.value.stroke();
      };

      this.update = () => {
        if (this.x + this.radius > innerWidth || this.x - this.radius < 0) {
          this.dx = -this.dx;
        }
        if (this.y + this.radius > innerHeight || this.y - this.radius < 0) {
          this.dy = -this.dy;
        }
        this.x += this.dx;
        this.y += this.dy;
        this.draw();
      };
    }

    let circleArray = [];
    for (let i = 0; i < 50; i++) {
      let x = Math.random() * innerWidth;
      let y = Math.random() * innerHeight;
      let dx = Math.random() - 0.5 * 3;
      let dy = Math.random() - 0.5 * 3;
      let radius = 10;
      const index = Math.floor(Math.random() * colors.length);
      const color = colors[index];
      circleArray.push(new Circle(x, y, dx, dy, radius, color));
    }

    const animate = () => {
      requestAnimationFrame(animate);
      ctx.value.clearRect(0, 0, innerWidth, innerHeight);

      for (let i = 0; i < circleArray.length; i++) {
        circleArray[i].update();
      }
    };

    onMounted(() => {
      canvas.value.backgroundColor = "#000000";
      canvas.value.width = window.innerWidth;
      canvas.value.height = window.innerHeight;
      ctx.value = canvas.value.getContext("2d");
      animate();
    });

    return {
      canvas,
    };
  },
};
</script>

<template>
  <canvas class="canvas" ref="canvas"></canvas>
  <div class="short-introduction">
    <span class="text">Hey, my name is</span>
    <span class="text-gradient pink-yellow-gradient">Maria Halkiewicz.</span>
    <span class="text-2"
      >I’m a freelancer who makes web application, likes to draw pixels, and
      loves to be a creative and free person.
    </span>
    <a href="#contact">Contact me</a>
  </div>
</template>

<style lang="scss" scoped>
.canvas {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    position: relative;
  }
}

.text-gradient {
  font-size: 45px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 20px;
}

.pink-yellow-gradient {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, var(--pink), var(--yellow));
}

.short-introduction {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 40px;
  word-spacing: 2px;
  letter-spacing: 1px;
  padding-top: 50px;

  @media (min-width: 768px) {
    max-width: 640px;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 768px;
    padding-top: 100px;
    font-size: 28px;
  }

  .text {
    font-size: 16px;
    margin-bottom: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }

  .text-2 {
    margin-bottom: 40px;
  }

  a {
    width: 100%;
    height: 50px;
    font-weight: 500;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: var(--white);
    font-size: 16px;
    font-family: var(--main-font);
    z-index: 1;
    margin-bottom: 30px;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, var(--pink), var(--yellow));
    border-image-slice: 1;

    @media (min-width: 1024px) {
      margin-bottom: 50px;
      font-size: 20px;
    }

    &:hover {
      color: var(--black);
    }

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #f3ec78;
      background-image: linear-gradient(45deg, var(--pink), var(--yellow));
      transition: all 0.3s ease;
    }

    &:hover:after {
      left: 0;
      width: 100%;
    }
  }
}
</style>
