<script>
import "animate.css";
export default {
  name: "MenuContainer",
  emits: ["update:display-menu"],
  props: {
    displayMenu: {
      required: true,
      type: [Boolean, null],
    },
  },
  setup(props, context) {
    const hideMenu = () => {
      context.emit("update:display-menu", false);
    };

    return {
      hideMenu,
    };
  },
};
</script>

<template>
  <section
    class="animate__animated"
    :class="{
      animate__slideInRight: displayMenu === true,
      animate__slideOutRight: displayMenu === false,
      hide: displayMenu === null,
    }"
  >
    <ul class="menu-list">
      <li>
        <a @click="hideMenu" class="pink-yellow-gradient" href="#projects"
          >&#60;projects&#8260;&#62;</a
        >
      </li>
      <li>
        <a @click="hideMenu" class="green-blue-gradient" href="#about-me"
          >&#60;about&#8260;&#62;</a
        >
      </li>
      <li>
        <a @click="hideMenu" class="blue-purple-gradient" href="#contact"
          >&#60;contact&#8260;&#62;</a
        >
      </li>
      <li>
        <a @click="hideMenu" href="#links" class="fuchsia-purple-gradient"
          >&#60;links&#8260;&#62;</a
        >
      </li>
    </ul>
  </section>
</template>

<style lang="scss" scoped>
section {
  position: absolute;
  background-color: var(--black);
  height: 100%;
  width: 80%;
  z-index: 2;
  right: 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding: 100px 20px 0 0;

  li {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

a {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 28px;
  text-decoration: none;
}

.pink-yellow-gradient {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, var(--pink), var(--yellow));
}

.green-blue-gradient {
  background-color: var(--green);
  background-image: linear-gradient(45deg, var(--green), var(--blue));
}

.blue-purple-gradient {
  background-color: var(--purple);
  background-image: linear-gradient(45deg, var(--purple), var(--blue));
}

.fuchsia-purple-gradient {
  background-color: var(--fuchsia);
  background-image: linear-gradient(45deg, var(--fuchsia), var(--purple));
}

.hide {
  display: none;
}
</style>
