<template>
  <button
    class="nav-icon3"
    @click="handleMenuButton"
    :class="{ open: displayMenu }"
  >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>
</template>

<script>
export default {
  name: "MenuIcon",
  emits: ["update:display-menu"],
  props: {
    displayMenu: {
      required: true,
      type: [Boolean, null],
    },
  },
  setup(props, context) {
    const handleMenuButton = () => {
      context.emit("update:display-menu", !props.displayMenu);
    };

    return {
      handleMenuButton,
    };
  },
};
</script>

<style lang="scss" scoped>
.nav-icon3 {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon3 span:nth-child(1) {
  top: 0;
}
.nav-icon3 span:nth-child(2),
.nav-icon3 span:nth-child(3) {
  top: 10px;
}
.nav-icon3 span:nth-child(4) {
  top: 20px;
}
.nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0;
  left: 50%;
}
.nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon3.open span:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
}
</style>
