<template>
  <section>
    <ul class="project-list">
      <ProjectCardComponent
        v-for="item in list"
        :item="item"
        :key="item.id"
        class="project-card-position"
      />
    </ul>
  </section>
</template>

<script>
import ProjectCardComponent from "@/components/MyWebsite/ProjectCardComponent";
export default {
  name: "ProjectsListComponent",
  components: {
    ProjectCardComponent,
  },
  setup() {
    const list = [
      {
        id: 1,
        thumbnailImg: require("@/assets/portfolio-thumbnail/HooBank-preview.jpg"),
        thumbnailImgList: [],
        title: "Hoobank Landing page",
        text: "I coded a landing page for HooBank using React.js, Tailwind.css, and Framer Motion library for animation. I did mobile and desktop design. This design I find online in the figma community section.",
        source:
          "https://www.figma.com/file/bUGIPys15E78w9bs1l4tgS/HooBank?node-id=1-392&t=xzMjXH4Eium50nfv-0",
        labels: [
          {
            name: "React.js",
          },
          {
            name: "Tailwind.css",
          },
          {
            name: "Framer Motion",
          },
          {
            name: "RWD",
          },
        ],
        gitlabLink: "https://gitlab.com/mmhalkiewicz/hoobank-page",
        websiteLink: "https://mmhalkiewicz.gitlab.io/hoobank-page/",
        inner: false,
      },
      {
        id: 2,
        thumbnailImg: require("@/assets/portfolio-thumbnail/scythe-studio-blog.jpg"),
        thumbnailImgList: [],
        title: "Scythe Studio Blog",
        text: "When I was working for Scythe Studio I was responsible for maintaining the company's blog. The technology that I picked up from this is Nuxt.js, SASS. I was working with WordPress also.",
        labels: [
          {
            name: "Nuxt.js",
          },
          {
            name: "SASS",
          },
          {
            name: "Wordpress",
          },
          {
            name: "RWD",
          },
        ],
        gitlabLink: "",
        websiteLink: "https://scythe-studio.com/en/blog",
        inner: false,
      },
      {
        id: 3,
        thumbnailImg: require("@/assets/portfolio-thumbnail/payte-dashboard.jpg"),
        thumbnailImgList: [],
        title: "Payte Dashboard",
        labels: [
          {
            name: "Vue.js",
          },
          {
            name: "Tailwind.css",
          },
          {
            name: "RWD",
          },
          {
            name: "Netlify",
          },
          {
            name: "API",
          },
        ],
        text: "I coded this dashboard page using Vue.js (Composition API), SASS, Netlify, and CoinMarketCap API. The design is for mobile and desktop users.",
        source: "",
        gitlabLink:
          "https://gitlab.com/mmhalkiewicz/riotters-recruitment-project",
        websiteLink: "https://peppy-faloodeh-de1482.netlify.app/",
        inner: false,
      },
      {
        id: 4,
        thumbnailImg: require("@/assets/portfolio-thumbnail/movies-library-thumbnail.jpg"),
        thumbnailImgList: [],
        title: "MoviesLibrary",
        labels: [
          {
            name: "Vue.js",
          },
          {
            name: "Tailwind.css",
          },
          {
            name: "API",
          },
          {
            name: "Axios",
          },
          {
            name: "RWD",
          },
        ],
        text: "I wanted to make this kind of app to show that I can work with API. I used The Movie database API. The design that I came up with is simple but effective. The app is created for mobile and desktop users. The technology that I used for this project is Vue.js (Composition API), Axios, and Tailwind.css.",
        source: "",
        gitlabLink: "https://gitlab.com/mmhalkiewicz/movies-library",
        websiteLink: "https://mmhalkiewicz.gitlab.io/movies-library/",
        inner: false,
      },
      {
        id: 5,
        thumbnailImg: "",
        thumbnailImgList: [
          {
            src: require("@/assets/portfolio-thumbnail/Fiber_Landing_Page_desktop.jpg"),
          },
          {
            src: require("@/assets/portfolio-thumbnail/Fiber_Slider_Thumbnail-mobile.jpg"),
          },
          {
            src: require("@/assets/portfolio-thumbnail/Fiber_Slider_Thumbnail-form.jpg"),
          },
        ],
        title: "Fiber landing page",
        labels: [
          {
            name: "Vue.js",
          },
          {
            name: "Vue Router",
          },
          {
            name: "Tailwind.css",
          },
          {
            name: "Animated.css",
          },
          {
            name: "RWD",
          },
        ],
        text: "I coded this landing page using Vue.js (Composition API), Vue Router, Tailwind.css, and Animated.css (a library for animation). I made it interactive (added animation to links and buttons). This was a challange from Codewell webiste. (I don't have premium so I tried to make the design as close as possible to photos since I didn't have a figma file)",
        source:
          "https://www.codewell.cc/challenges/fiber-landing-page--608a7e639691700015db16d1",
        gitlabLink: "https://gitlab.com/mmhalkiewicz/fiber-landing-page",
        websiteLink: "https://mmhalkiewicz.gitlab.io/fiber-landing-page/",
        inner: false,
      },
      {
        id: 6,
        thumbnailImg: "",
        thumbnailImgList: [
          {
            src: require("@/assets/portfolio-thumbnail/bookmark-landing-page-desktop.jpg"),
          },
          {
            src: require("@/assets/portfolio-thumbnail/bookmark-landing-page-mobile.jpg"),
          },
        ],
        title: "Bookmark landing page",
        labels: [
          {
            name: "Vue.js",
          },
          {
            name: "Tailwind.css",
          },
          {
            name: "RWD",
          },
        ],
        text: "I coded this landing page using Vue.js (Composition API), and Tailwind.css. I made it interactive (added animation to links and buttons) and in the newsletter section, I added email validation. The design is for mobile and desktop views. This was a challenge from the Frontendmentor website (I don't have premium so I tried to make the design as close as possible to photos since I didn't have a figma file)",
        source:
          "https://www.frontendmentor.io/challenges/bookmark-landing-page-5d0b588a9edda32581d29158",
        gitlabLink: "https://gitlab.com/mmhalkiewicz/bookmark-landing-page",
        websiteLink: "https://mmhalkiewicz.gitlab.io/bookmark-landing-page/",
        inner: false,
      },
      {
        id: 7,
        thumbnailImg: "",
        thumbnailImgList: [
          {
            src: require("@/assets/portfolio-thumbnail/news-homepage-dektop.jpg"),
          },
          {
            src: require("@/assets/portfolio-thumbnail/news-homepage-mobile.jpg"),
          },
        ],
        title: "News landing page",
        labels: [
          {
            name: "Vue.js",
          },
          {
            name: "Tailwind.css",
          },
          {
            name: "RWD",
          },
        ],
        text: "I coded this landing page using Vue.js (Composition API), and Tailwind.css. I made it interactive (added animation to links and buttons). The design is for mobile and desktop views. This was challenge from Frontendmentor website (I don't have premium so I tried to make the design as close as possible to photos since I didn't have a figma file)",
        source:
          "https://www.frontendmentor.io/challenges/news-homepage-H6SWTa1MFl",
        gitlabLink: "https://gitlab.com/mmhalkiewicz/news-homepage-project",
        websiteLink: "https://mmhalkiewicz.gitlab.io/news-homepage-project/",
        inner: false,
      },
      {
        id: 8,
        thumbnailImg: "",
        thumbnailImgList: [
          {
            src: require("@/assets/portfolio-thumbnail/countdown-timer-desktop.jpg"),
          },
          {
            src: require("@/assets/portfolio-thumbnail/countdown-timer-mobile.jpg"),
          },
        ],
        title: "Launch countdown timer",
        labels: [
          {
            name: "Vue.js",
          },
          {
            name: "SASS",
          },
          {
            name: "RWD",
          },
        ],
        text: "I coded this countdown page using Vue.js (Composition API) and SASS. The design is for mobile and desktop views. This was a challenge from the Frontendmentor website (I don't have premium so I tried to make the design as close as possible to photos since I didn't have a figma file)",
        source:
          "https://www.frontendmentor.io/challenges/launch-countdown-timer-N0XkGfyz-",
        gitlabLink: "https://gitlab.com/mmhalkiewicz/portfolio",
        websiteLink: "/my-projects/countdown-timer",
        inner: true,
      },
      {
        id: 9,
        thumbnailImg: require("@/assets/portfolio-thumbnail/portfolio-thumbnail.jpg"),
        thumbnailImgList: [],
        title: "My Portfolio",
        labels: [
          {
            name: "Vue.js",
          },
          {
            name: "Animated.css",
          },
          {
            name: "HTML5 canvas",
          },
          {
            name: "Web3Forms",
          },
          {
            name: "RWD",
          },
        ],
        text: "I designed everything myself when comes to my portfolio. It's created for mobile and desktop users. For this website, I used Vue.js (Composition API), Animated.css, Web3Forms, and a little bit of HTML5 canvas.",
        gitlabLink: "https://gitlab.com/mmhalkiewicz/portfolio",
        websiteLink: "/",
        inner: true,
      },
    ];

    return {
      list,
    };
  },
};
</script>

<style lang="scss" scoped>
section {
  display: flex;
  flex-direction: column;
}

.project-list {
  @media (min-width: 800px) {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
  }
}

.project-card-position {
  margin: 0 auto 60px auto;
}
</style>
