<template>
  <li class="project-card">
    <img
      v-if="isThumbnailImage"
      :src="item.thumbnailImg"
      alt="Project thumbnail"
      class="image"
    />
    <div class="slider-wrapper">
      <transition name="fade">
        <img
          v-if="currentImage"
          :src="currentImage"
          alt="Project thumbnail"
          class="image slider"
          :key="currentImage"
        />
      </transition>
    </div>
    <div class="project-labels-wrapper">
      <span
        v-for="item in labels"
        :key="item.name"
        v-text="item.name"
        class="project-label"
      />
    </div>
    <h3 v-text="item.title" class="project-title" />
    <p
      @click="displayText"
      :class="textClasses"
      v-text="item.text"
      class="project-text"
    />
    <div class="project-links-wrapper">
      <a
        v-if="item.gitlabLink"
        :href="item.gitlabLink"
        target="_blank"
        class="project-link"
        >Gitlab</a
      >
      <a
        v-if="item.source"
        :href="item.source"
        target="_blank"
        class="project-link"
        >Source</a
      >
      <a
        :href="item.websiteLink"
        target="_blank"
        class="project-link project-link-demo"
        >Live demo</a
      >
    </div>
  </li>
</template>

<script>
import { ref, computed } from "vue";
import { useCycleList } from "@vueuse/core";
import "animate.css";

export default {
  name: "ProjectCardComponent",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  setup(props) {
    const thumbnail = ref(props.item.thumbnailImg);
    const thumbnailsList = ref(props.item.thumbnailImgList);
    const labels = ref(props.item.labels);
    const openText = ref(false);

    const { state, next } = useCycleList(props.item.thumbnailImgList);

    const currentImage = computed(() => {
      if (!state.value) {
        return "";
      }

      return state.value.src;
    });

    setInterval(
      () => {
        next();
      },
      5000,
      currentImage
    );

    const isThumbnailImage = computed(() => thumbnail.value !== "");

    const displayText = () => {
      openText.value = !openText.value;
      console.log(openText.value);
    };

    const textClasses = computed(() => {
      const classes = [];
      switch (openText.value) {
        case true:
          classes.push("text-long");
          break;
        case false:
          classes.push("text-short");
          break;
      }
      return classes;
    });

    return {
      isThumbnailImage,
      thumbnailsList,
      labels,
      displayText,
      textClasses,
      currentImage,
    };
  },
};
</script>

<style lang="scss" scoped>
.project-card {
  display: flex;
  flex-direction: column;
  max-width: 330px;

  .image {
    width: 330px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .project-labels-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

    .project-label {
      color: var(--black);
      font-size: 14px;
      font-weight: bolder;
      padding: 5px 10px;
      border-radius: 10px;
      background: linear-gradient(45deg, var(--pink), var(--yellow));
    }
  }

  .project-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .project-text {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .project-links-wrapper {
    display: flex;
    justify-content: space-between;

    .project-link {
      color: var(--white);
      transition: color 0.3s ease;

      &:hover {
        background: linear-gradient(
          to left,
          var(--yellow) 60%,
          var(--pink) 40%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .project-link-demo {
      text-decoration: none;
    }
  }
}

.text-short {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-long {
  display: block;
  -webkit-line-clamp: 10;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slider-wrapper {
  display: grid;

  .slider {
    grid-area: 1/1/1/1;
  }
}
</style>
