<script>
import { computed } from "vue";
import "animate.css";
export default {
  name: "SummaryCard",
  props: {
    summaryCard: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const projectLink = computed(() => {
      return props.summaryCard.link;
    });

    return {
      projectLink,
    };
  },
};
</script>

<template>
  <div class="card">
    <h3 class="card-title">{{ summaryCard.title }}</h3>
    <p class="card-text">{{ summaryCard.shortText }}</p>
    <router-link
      class="card-link"
      :to="projectLink"
      v-if="summaryCard.inner"
      target="_blank"
    >
      {{ summaryCard.buttonText }}
    </router-link>
    <a class="card-link" :href="projectLink" target="_blank" v-else>
      {{ summaryCard.buttonText }}
    </a>
  </div>
</template>

<style lang="scss" scoped>
.card {
  border: 3px solid;
  border-image-source: linear-gradient(45deg, var(--pink), var(--yellow));
  border-image-slice: 1;
  font-size: 14px;
  padding: 10px 20px;

  @media (min-width: 1024px) {
    max-width: 700px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-title,
  .card-text {
    margin-bottom: 10px;
  }

  @media (min-width: 1024px) {
    .card-text {
      line-height: 28px;
      margin-bottom: 30px;
    }

    .card-title {
      margin-bottom: 20px;
    }
  }

  .card-link {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    color: var(--white);
    overflow: hidden;
    background: linear-gradient(to right, var(--yellow) 50%, var(--pink) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease-in-out;
    text-decoration: none;
    &:hover {
      background-position: 0 100%;
    }
  }
}
</style>
