<template>
  <NavbarContainer v-if="this.$route.meta.showNavbar ?? true" />
  <Suspense>
    <router-view />
  </Suspense>
  <FooterComponent v-if="this.$route.meta.showFooter ?? true" id="links" />
</template>

<script>
import NavbarContainer from "@/components/MyWebsite/Navbar/NavbarContainer";
import FooterComponent from "@/components/MyWebsite/FooterComponent";
export default {
  name: "App",
  components: {
    FooterComponent,
    NavbarContainer,
  },
};
</script>

<style lang="scss" scoped>
* {
  font-family: var(--main-font);
}
</style>
